.main_block {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
input, select {
    width: 15vw;
    padding: 5px;
    margin: 5px !important;
}

.logo-size{
    width: 50%;
}

.main-foto{
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/c/57/pink-roses-background-rozy-rozovye-tsvety-fon-flowers-beauti.jpg");
    height: 100vh;
}

header{
    height: 30vh;
    background: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.menu-bar{
    color: black;
    padding: 30px;
    font-size: 25px;
}

.padding-10{
    padding: 10px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
}